.header{
    margin:50px;
    color:tomato;
}
.headerTitles{
    display:flex;
    flex-direction:column;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Noto Serif', serif;


    align-items:center;
}
.headerTitleSm{
    position:absolute;
    top:19%;
    font-size:30px;


}
.headerTitlelg{
    position:absolute;
    top:21%;
    font-size:140px;


}
.headerImg{
    width:100%;
    height:80%;
    margin-top: 60px;
    object-fit: cover;
  
    
}